.familyLift {
    background: #fff;
    text-align: center;
    margin-top: .1rem;
    span{
        display: inline-block;
        font-size: .16rem;
        margin-top: .1rem;;
    }
    p{
        margin-top: .05rem;
        color:#777;
        padding-bottom: .1rem;
    }
}