.listItem {
    float: left;
    width: 49%;
    margin-right: 2%;

    &:nth-child(2n) {
        margin-right: 0;
    }

    .listItem-img {
        width: 100%;
        img {
            width: 100%;
        }
    }

}