.select-bar .g-grow{
    display:flex;
    width:100%;
    height:.36rem;
    padding:0 .15rem;
    align-items: center;
    background-color:#fff;
    box-sizing:border-box;
}
.select-bar .g-grow li{
    flex:1;
    -webkit-box-flex:1;
    float:left;
    line-height:1.5;
    font-size:12px;
}
.select-bar .g-grow li a{
    height:.16rem;
}
.select-bar .g-grow li a i{
    width:.16rem;
    height:.16rem;
    display:inline-block;
    vertical-align:middle;
}
.select-bar .g-grow li a .yi{
    background:url('../../yi.png') center no-repeat;
    background-size:100% 100%;
}
.select-bar .g-grow li a .huo{
    background:url('../../yi.png') center no-repeat;
    background-size:100% 100%;
}
.select-bar .g-grow li a .kuan{
    background:url('../../yi.png') center no-repeat;
    background-size:100% 100%;
}
.select-bar .g-grow li a span{
    color:#333;
    vertical-align:middle;
}